@import '../../framework/css/theme.scss';

$headerHeight: px2rem(140);
$footerHeight: px2rem(140);
$mainColor: #0DBC75;
$borderColor: #E8E8E8;
$carouselHeight: px2rem(345);
$carouselWidth: px2rem(1080);